@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  background-color: green;
  box-sizing: border-box;
}
h1 {
  padding-top: 54px;
  padding-bottom: 54px;
  color: white;
  text-shadow: 1px 1px red;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.card {
  display: inline-block;
  margin: auto;
  height: 400px;
  width: 250px;
  padding: 20px;
  padding-top: 124px;
  padding-right: 18px;
  font-size: 85px;
  border-radius: 20px;
  border: 1px solid black;
  position: relative;
  box-shadow: 5px 10px red;

  &:before {
    position: absolute;
    top: 20px;
    left: 20px;
    font-size: 80px;
  }

  &:after {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 80px;
  }
  &.spade:before,
  &.spade::after {
    content: "\2660";
  }
  &.club:before,
  &.club::after {
    content: "\2663";
  }
  &.hearts:before,
  &.hearts::after {
    content: "\2665";
    color: red;
  }
  &.diams:before,
  &.diams::after {
    content: "\2666";
    color: red;
  }
}
